body {
   background: url(img/pharmacy-shelves.jpg) no-repeat center fixed;
   background-size: cover;
}

.main-section {
   margin: 0 auto;
   margin-top: 130px;
   padding: 0;
}
.modal-content {
   background-color: #434e5a;
   opacity: 0.8;
   padding: 0 18px;
   border-radius: 10px;
}
.user-img img {
   height: 150px;
   width: 150px;
}
.user-img {
   margin-top: -60px;
   margin-bottom: 45px;
}
.form-group {
   margin-bottom: 25px;
}
.form-control select {
   width: 40%;
}
.form-group input {
   height: 40px;
   border-radius: 5px;
   border: 0;
   font-size: 18px;
   letter-spacing: 1px;
   padding-left: 25px;
}
.form-input button {
   width: 40%;
}
.btn-success {
   background-color: #1c6288;
   font-size: 18px;
   border-radius: 5px;
   padding: 7px 14px;
   border: 1px solid #daf1ff;
}
.btn-success:hover {
   background-color: #13445e;
   border: 1px solid #daf1ff;
}

.register {
   padding: 5px 0px 25px;
}
.register a {
   color: #daf1ff;
}
